<div
  class="group bg-white rounded-2xl p-8 text-center shadow-md hover:shadow-lg transition-all duration-300 border border-[#e7ded6] h-full">
  <!-- ICON / NUMBER -->
  <div class="relative w-24 h-24 mx-auto mb-6 flex items-center justify-center">
    <!-- Offset decorative circle (blob) -->
    <div *ngIf="stepNumber || icon" class="absolute bottom-1 right-1 w-14 h-14 rounded-full bg-[#faecd6]/90 -z-10">
    </div>

    <!-- Main Container -->
    <div
      class="w-20 h-20 flex items-center justify-center rounded-full transition-transform duration-500 group-hover:scale-110"
      [ngClass]="stepNumber ? 'border-2 border-[#836054] bg-white' : ''">
      <img *ngIf="icon && !stepNumber" [src]="icon" alt="icon"
        class="w-14 h-14 object-contain transition-transform duration-500 group-hover:scale-110" />
      <span *ngIf="stepNumber" class="text-4xl font-bold text-[#836054] z-10">
        {{ stepNumber }}
      </span>
    </div>
  </div>

  <!-- TITLE -->
  <h3 class="text-2xl text-[#836054] mb-4">
    {{ title }}
  </h3>

  <!-- DESC -->
  <p class="text-[#5b463a] text-sm leading-relaxed">
    {{ desc }}
  </p>
</div>