<section class="bg-[#8b6758] py-16 px-10 lg:px-16">
  <h2 class="text-center text-white text-3xl font-serif mb-12">
    Why Choose Positivty
  </h2>

  <div class="max-w-7xl mx-auto overflow-hidden">
    <div
      class="flex transition-transform duration-700 ease-in-out lg:translate-x-0"
      [style.transform]="isSlider ? transformStyle : 'none'"
    >
      <div
        *ngFor="let item of cards"
        class="shrink-0 w-full md:w-1/2 lg:w-1/4 px-4"
      >
        <div
          class="bg-[#f6f0ea] text-[#7b5a4a] h-full p-8 text-center flex flex-col justify-between rounded-xl border-l border-[#8b6758]"
        >
          <div>
            <!-- ICON -->
          <div class="text-5xl mb-6">
            <i [class]="item.icon"></i>
          </div>

            <!-- TITLE -->
            <h3 class="text-xl font-serif mb-4">
              {{ item.title }}
            </h3>
            <p class="text-sm leading-relaxed">
              {{ item.desc }}
            </p>
          </div>

          <button
            class="mt-8 w-10 h-10 mx-auto rounded-full bg-[#7b5a4a] text-white flex items-center justify-center hover:scale-110 transition"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
