<section
  class="relative bg-cover bg-center bg-no-repeat overflow-hidden"
  [style.background-image]="
    'url(https://positivtystaticassets.blob.core.windows.net/images/banner/EnterprisesBanner.jpeg)'
  "
>
  <div class="container mx-auto px-6 py-4 md:py-10">
    <div class="items-center">
      <!-- Content -->
      <div class="z-10 md:pl-10">
        <h2
          class="text-white text-xl md:text-3xl font-bold leading-relaxed mb-4"
        >
          Strong <br class="block md:hidden" />
          Minds,<br />
          Stronger <br class="block md:hidden" />
          Workplaces
        </h2>

        <div class="space-y-1 text-[#D1D1D0] text-sm md:text-md">
          <p>
            Every employee has a story, <br />
            a struggle, and a potential waiting to <br />
            be nurtured. Some may be silently carrying <br />
            burdens you don’t share, but you can make a difference. Positivty's
            <br />
            tailored mental wellness program provides your workforce with the
            tools <br />
            you need to grow, heal, and excel. Invest in their well-being today!
          </p>
        </div>

        <!-- Buttons -->
        <div class="flex flex-wrap gap-4 mt-6">
          <button
            class="px-6 py-2 border border-white text-white rounded-full uppercase text-sm hover:bg-white hover:text-black transition hover:scale-110 duration-300"
          >
            Book Now
          </button>

          <button
            routerLink="/contact-us"
            class="px-6 py-2 bg-[#836054] text-white rounded-full uppercase text-sm shadow-md hover:opacity-90 transition hover:scale-110 duration-300"
          >
            Enquire Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-6 mx-auto px-6 max-w-6xl">
  <div class="text-center md:px-20 justify-center">
    <!-- Heading -->
    <h3 class="text-2xl font-semibold text-[#705146] mb-4">
      75% of employees face mental health challenges
      <span class="block md:inline">but don’t seek help</span>
    </h3>

    <!-- Description -->
    <p class="text-gray-700 mb-8 max-w-3xl">
      Workplaces are becoming silent battlegrounds for mental health issues,
      with employees facing challenges like stress, anxiety, and burnout. The
      impact is clear from recent findings:
    </p>
  </div>

  <!-- Stats Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div
      *ngFor="let item of workplaceCards; trackBy: trackByIndex"
      class="bg-white rounded-xl shadow-lg p-6 border-l-4 border-[#EADBC8] border-l-[#836054] hover:shadow-xl transition duration-300"
    >
      <h4 class="text-lg md:text-xl font-semibold text-[#705146] mb-2">
        {{ item.title }}
      </h4>

      <p class="text-gray-600 text-sm leading-relaxed">
        {{ item.description }}
      </p>
    </div>
  </div>
  <p class="text-md py-4 justify-center text-center">
    Despite these alarming statistics, many employees hesitate to seek help due
    to stigma or limited access to care. This highlights the urgent need for
    organizations to create environments that prioritize mental health and
    provide support systems for their workforce.
  </p>
</section>

<section class="bg-[#fef2dd] py-10 px-6">
  <div class="max-w-4xl mx-auto text-center justify-center">
    <h2 class="text-2xl md:text-3xl font-semibold text-[#6b3f2b] mb-4">
      Stigma Surrounding Mental Health
    </h2>

    <p class="text-gray-700 leading-relaxed text-base md:text-md">
      The stigma associated with mental health remains one of the biggest
      barriers preventing individuals from speaking up and seeking help. This
      stigma, both external and internal, creates a culture of silence, leaving
      many employees to struggle alone. Organizations often remain unaware of
      the emotional struggles their workforce faces, further compounding the
      issue.
    </p>
  </div>

  <!-- card part -->>
  <div class="px-4 md:px-6 py-10 overflow-hidden">
    <div class="max-w-5xl mx-auto flex flex-col gap-10">
      @for (card of cards; track card.id; let i = $index) {
        <app-enterprises-info-card [card]="card" [index]="i" />
      }
    </div>
  </div>

  <!-- footer text -->
  <div class="max-w-3xl mx-auto text-center justify-center">
    <p class="text-gray-700 leading-relaxed text-base md:text-md mb-6">
      These statistics emphasize a critical truth: there is no health without
      mental health (WHO). Overcoming these stigmas and barriers requires a
      collective effort, led by organizations that prioritize mental wellness
      and foster a culture of understanding and support.
    </p>
    <p class="text-gray-700 leading-relaxed text-base md:text-md font-semibold">
      <i class="fa-solid fa-star text-[#836054]"></i>
      Source: AON 2023 Asia Mental Health Index Report.
    </p>
  </div>
</section>

<section class="py-6 mx-auto px-5 max-w-5xl flex flex-col md:flex-row gap-8">
  <div>
    <h3 class="text-3xl md:text-4xl mb-2 md:mb-4">
      Understanding Mental Health
    </h3>
    <p class="text-md md:text-lg">
      Mental health conditions affect millions globally, yet many remain unaware
      of their prevalence and impact. It’s crucial to foster understanding to
      build a supportive community. Here, we demystify some of the most common
      mental health issues, promoting awareness and understanding.
    </p>
  </div>
  <!-- RIGHT SIDE PILLS -->
  <div class="relative flex flex-wrap gap-4 justify-center">
    <ng-container *ngFor="let item of heroBtnList; let i = index">
      <div
        class="group relative"
        (mouseenter)="activeIndex = i"
        (mouseleave)="activeIndex = null"
      >
        <!-- Pill Button -->
        <div
          class="px-6 py-3 rounded-[20px] border border-[#8b6457] text-[#8b6457] font-medium text-sm tracking-wide whitespace-nowrap cursor-pointer transition-all duration-300 hover:bg-[#8b6457] hover:text-white"
        >
          {{ truncateTitle(item.title) }}
        </div>

        <!-- Hover Card -->
        <div
          *ngIf="activeIndex === i"
          class="absolute z-20 top-full mt-4 w-80 rounded-2xl border border-[#e6d5cc] bg-white shadow-xl p-5 animate-fadeSlide"
        >
          <h4 class="text-[#4a2f2a] font-semibold mb-2">
            {{ item.title }}
          </h4>

          <p class="text-sm text-gray-600 leading-relaxed">
            {{ item.desc }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<section class="px-6 bg-[#fef2dd] py-8">
  <div class="max-w-4xl mx-auto text-center px-4">
    <h2
      class="max-w-3xl mx-auto text-2xl md:text-4xl leading-snug md:leading-tight text-[#705146] mb-6 font-semibold"
    >
      Comprehensive Care Tailored to Your Workforce’s Needs
    </h2>

    <p class="mx-auto text-base md:text-lg text-[#4a3a33] leading-relaxed mb-4">
      At Positivty, we understand that every organization is unique, just like
      the individuals within it. Our programs are designed to address the mental
      wellness needs of diverse teams through professional expertise,
      personalized care, and cultural sensitivity.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 md:px-14 md:gap-6">
    <app-enterprises-care-card
      *ngFor="let item of careCards"
      [title]="item.title"
      [description]="item.desc"
      [icon]="item.icon"
    >
    </app-enterprises-care-card>
  </div>
  <div class="justify-center text-center">
    <button
      routerLink="/contact-us"
      class="px-6 py-2 bg-[#836054] text-white rounded-full uppercase text-sm shadow-md hover:opacity-90 transition hover:scale-110 duration-300"
    >
      Book Now
    </button>
  </div>
</section>

<!-- how it works  -->
<section>
  <!-- for enterpricess section  -->
  <div class="py-4 px-6 md:px-28">
    <h2 class="text-2xl md:text-4xl font-semibold text-center">How it Works</h2>
    <div class="max-w-7xl mx-auto mt-10">
      <!-- Section Badge -->
      <div class="mb-12">
        <div
          class="inline-block w-full border-l-6 border-[#fed591] rounded-xl bg-gradient-to-r from-[#836054] to-transparent text-white px-10 py-3 text-2xl font-semibold"
        >
          For Enterprises
        </div>
      </div>

      <!-- Steps Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
        <app-enterprises-steps-card
          *ngFor="let step of steps"
          [stepNumber]="step.number"
          [title]="step.title"
          [description]="step.description"
        ></app-enterprises-steps-card>
      </div>

      <!-- Section Badge -->
      <div class="mb-12 mt-12">
        <div
          class="inline-block w-full border-l-6 border-[#fed591] rounded-xl bg-gradient-to-r from-[#836054] to-transparent text-white px-10 py-3 text-2xl font-semibold"
        >
          For Employees
        </div>
      </div>

      <!-- Steps Grid -->
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center text-center"
      >
        <app-employees-steps-card
          *ngFor="let steps of employesteps"
          [stepNumber]="steps.number"
          [title]="steps.title"
          [description]="steps.description"
        >
        </app-employees-steps-card>
      </div>
    </div>
  </div>
</section>

<section
  class="relative overflow-hidden bg-gradient-to-br from-[#6b4a3a] to-[#4a2f24] text-white py-6 px-6"
>
  <!-- Decorative Background Shapes -->
  <!-- <div
    class="absolute top-0 right-0 opacity-10 text-[300px] font-bold leading-none select-none"
  >
    ❋
  </div>
  <div
    class="absolute bottom-0 left-0 opacity-10 text-[300px] font-bold leading-none select-none"
  >
    ❋
  </div> -->

  <div class="max-w-2xl mx-auto text-center relative z-10">
    <!-- Heading -->
    <h2 class="text-2xl md:text-4xl font-serif mb-2">
      Proven Impact on Employee Wellbeing
    </h2>

    <!-- Subtext -->
    <p class="mx-auto text-md md:text-lg text-[#f3eae5] leading-relaxed mb-16">
      Enterprises that prioritize mental health see a profound difference in
      employee morale, productivity, and retention. After just 12 weeks of
      Positivity’s therapy sessions, the transformation is measurable and
      meaningful.
    </p>

    <!-- Impact Card -->
    <div
      class="relative max-w-3xl mx-auto border-l-2 border-r-2 border-[#a27b67] rounded-3xl py-16 px-8 text-center transition-all duration-500"
    >
      <!-- Percentage -->
      <div
        class="text-4xl md:text-6xl font-serif text-[#f2c98a] mb-6 transition-all duration-500"
      >
        {{ impacts[currentIndex].percentage }}
      </div>

      <!-- Description -->
      <p
        class="text-xl md:text-2xl text-[#f3eae5] leading-relaxed transition-all duration-500"
      >
        {{ impacts[currentIndex].text }}
      </p>
    </div>

    <!-- CTA Button -->
    <div class="mt-16">
      <button
        class="px-6 py-2.5 rounded-full border border-white text-white hover:bg-white hover:text-[#4a2f24] transition duration-300"
      >
        CALL US TODAY
      </button>
    </div>
  </div>
</section>
