<section
  class="relative bg-cover bg-[position:68%_0%] min-h-[80px] md:min-h-auto md:bg-[position:center_30%] bg-no-repeat overflow-hidden lg:px-[190px] px-[10px] pt-[143px] md:py-10 lg:pb-[50px] md:pb-[75px] pb-[40px] text-white"
  [style.background-image]="
    'url(https://positivtystaticassets.blob.core.windows.net/images/banner/EnterprisesBanner.jpeg)'
  ">

  <div class="items-center ">
    <!-- Content -->
    <div class=" md:pl-10">

      <h2 class="text-white text-xl md:text-3xl font-bold leading-relaxed mb-[15px]">

        <div class="flex md:flex-row flex-col pb-[12px]
          md:pb-0 ">
          <P class="text-[16px] md:text-[29px] pr-[7px] pb-[12px]
          md:pb-0 ">Strong</P>
          <P class="text-[16px] md:text-[29px]">Minds,</P>
        </div>

        <div class="flex  md:flex-row flex-col">
          <P class="text-[16px] md:text-[29px] pr-[7px] pb-[12px]
          md:pb-0">Stronger</P>
          <P class="text-[16px] md:text-[29px]">Workplaces</P>
        </div>

      </h2>

      <div class=" md:text-[#D1D1D0]  text-[#f9f8f8] text-[10px] lg:text-[15px] md:text-md mb-[20px] ">
        <p class=" md:leading-loose lg:leading-normal">
          Every employee has a story, <br />
          a struggle, and a potential waiting to <br />
          be nurtured. Some may be silently carrying <br />
          burdens you don’t share, but you can make a difference. Positivty's
          <br />
          tailored mental wellness program provides your workforce with the
          tools <br />
          you need to grow, heal, and excel. Invest in their well-being today!
        </p>
      </div>

      <!-- Buttons -->
      <div class="flex flex-wrap gap-4  ">
        <button
          class="group flex items-center gap-2 lg:px-[35px] md:px-[28px] md:py-[8px] px-[15px] py-[8px] border border-[#836054] text-[#836054] rounded-full uppercase md:text-[15px] text-[12px] bg-white transition duration-300 hover:bg-[#836054] hover:text-white hover:scale-110"
          (click)="handleToggleClick($event)">
          {{ showForm ? 'Read More' : 'Book Now' }}
          <i *ngIf="!showForm"
            class="fa-solid fa-external-link-alt ml-2 transition-transform duration-300 group-hover:scale-110"></i>
        </button>

        <button routerLink="/contact-us"
          class="border border-white px-[15px] py-[8px] lg:px-[35px] md:px-[28px] md:py-[8px] bg-[#836054] text-white rounded-full uppercase md:text-[15px] text-[12px] shadow-md hover:opacity-90 transition hover:scale-110 duration-300">
          Enquire Now
        </button>
      </div>
    </div>
  </div>

</section>

<!-- Conditional Booking Form Section -->
<div id="booking-form-section" *ngIf="showForm" class="py-12 bg-white px-4 md:px-0">
  <div class="max-w-6xl mx-auto">
    <app-enterprises-form></app-enterprises-form>
  </div>
</div>

<ng-container *ngIf="!showForm">
  <section class="lg:pt-[22px] pt-[30px] md:pt-[59px] bd-[#F9F8F8]  mx-auto px-4 lg:max-w-6xl md:max-w-3xl">
    <div class="text-center md:px-10 justify-center">
      <!-- Heading -->
      <h3 class="text-[24px] font-semibold text-[#0a0a0a] mb-4">
        75% of employees face mental health challenges
        <span class="block md:inline">but don’t seek help</span>
      </h3>

      <!-- Description -->
      <p
        class="md:text-[#535074] text-[#363636] font-[700px] mb-8 text-[16px] md:text-[14px] max-w-4xl md:font-normal font-medium leading-relaxed mx-auto">
        Workplaces are becoming silent battlegrounds for mental health issues,
        with employees facing challenges like stress, anxiety, and burnout. The
        impact is clear from recent findings:
      </p>
    </div>

    <!-- Stats Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pb-[20px]">
      <div *ngFor="let item of workplaceCards; trackBy: trackByIndex"
        class="bg-white rounded-xl shadow-lg p-6 border-l-2 border-[#EADBC8] border-l-[#836054] hover:shadow-xl transition duration-300">
        <h4 class="text-lg md:text-xl font-semibold text-[#705146] mb-2">
          {{ item.title }}
        </h4>

        <p class="text-gray-600 text-sm leading-relaxed">
          {{ item.description }}
        </p>
      </div>
    </div>
    <p class="text-[18px] pb-[25px] text-[#363636]  hidden md:block text-center">
      Despite these alarming statistics, many employees hesitate to seek help due
      to stigma or limited access to care. This highlights the urgent need for
      organizations to create environments that prioritize mental health and
      provide support systems for their workforce.
    </p>
  </section>

  <section class="bg-[#fef2dd] py-[25px] px-6">
    <div class="max-w-4xl mx-auto text-center justify-center">
      <h2 class="md:text-[40px] text-[21px] font-medium text-[#705146] mb-4">
        Stigma Surrounding Mental Health
      </h2>

      <p class="text-[#363636] md:leading-snug leading-normal text-base text-[16px]">
        The stigma associated with mental health remains one of the biggest
        barriers preventing individuals from speaking up and seeking help. This
        stigma, both external and internal, creates a culture of silence, leaving
        many employees to struggle alone. Organizations often remain unaware of
        the emotional struggles their workforce faces, further compounding the
        issue.
      </p>
    </div>

    <!-- card part -->>
    <div class="px-4 md:px-6 py-10 overflow-hidden">
      <div class="max-w-5xl mx-auto flex flex-col gap-10">
        @for (card of cards; track card.id; let i = $index) {
        <app-enterprises-info-card [card]="card" [index]="i" />
        }
      </div>
    </div>

    <!-- footer text -->
    <div class="max-w-3xl mx-auto text-center justify-center">
      <p class="text-[#363636] md:text-[17px] md:leading-relaxed leading-snug text-base text-[15px] mb-6">
        These statistics emphasize a critical truth: there is no health without
        mental health (WHO). Overcoming these stigmas and barriers requires a
        collective effort, led by organizations that prioritize mental wellness
        and foster a culture of understanding and support.
      </p>
      <p class="text-[#363636] leading-relaxed text-base md:text-[17px] text-[15px] leading-snug font-normal">
        <i class="fa-solid fa-star text-[#836054]"></i>
        Source: AON 2023 Asia Mental Health Index Report.
      </p>
    </div>
  </section>

  <section class="py-6 mx-auto px-5 max-w-6xl flex flex-col md:flex-row gap-5">
    <div class="px-3">
      <h3 class="lg:text-[40px] md:text-[21px] text-[26px]    mb-2 md:mb-4">
        Understanding Mental Health
      </h3>
      <p class="text-[18px] text-[#363636] leading-relaxed md:leading-normal">
        Mental health conditions affect millions globally, yet many remain unaware
        of their prevalence and impact. It’s crucial to foster understanding to
        build a supportive community. Here, we demystify some of the most common
        mental health issues, promoting awareness and understanding.
      </p>
    </div>
    <!-- RIGHT SIDE PILLS -->
    <div class="relative flex flex-wrap gap-4 justify-center">
      <ng-container *ngFor="let item of heroBtnList; let i = index">
        <div class="group relative" (mouseenter)="activeIndex = i" (mouseleave)="activeIndex = null">
          <!-- Pill Button -->
          <div
            class="px-6 py-3 rounded-[20px] border border-[#8b6457] text-[#836054] font-bold text-[16px] tracking-wide whitespace-nowrap cursor-pointer transition-all duration-300 hover:bg-[#8b6457] hover:text-white ">
            {{ truncateTitle(item.title) }}
          </div>

          <!-- Hover Card -->
          <div *ngIf="activeIndex === i"
            class="absolute z-20 top-full mt-4 w-80 rounded-2xl border border-[#e6d5cc] bg-white shadow-xl p-5 animate-fadeSlide">
            <h4 class="text-[#4a2f2a] font-semibold mb-2">
              {{ item.title }}
            </h4>

            <p class="text-sm text-gray-600 leading-relaxed">
              {{ item.desc }}
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </section>

  <section class=" sm:px-[30px]  bg-[#fef2dd] py-[22px]">
    <div class="max-w-5xl mx-auto text-center px-4">
      <h2
        class="max-w-3xl mx-auto text-[22px] lg:text-[36px] md:text-[30px] leading-normal md:leading-tight  lg:leading-[1.15] text-[#705146] mb-6 font-medium">
        Comprehensive Care Tailored to Your Workforce’s Needs
      </h2>

      <p class="mx-auto  text-[18px] font-medium text-[#363636] md:leading-normal leading-tight mb-4">
        At Positivty, we understand that every organization is unique, just like
        the individuals within it. Our programs are designed to address the mental
        wellness needs of diverse teams through professional expertise,
        personalized care, and cultural sensitivity.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:px-14 md:gap-6">
      <app-enterprises-care-card *ngFor="let item of careCards" [title]="item.title" [description]="item.desc"
        [icon]="item.icon">
      </app-enterprises-care-card>
    </div>
    <div class="justify-center text-center">
      <button (click)="handleToggleClick($event)"
        class="px-[35px] py-[11px] bg-[#836054] text-white rounded-full uppercase text-sm shadow-md hover:opacity-90 transition hover:scale-110 duration-300">
        {{ showForm ? 'Read More' : 'Book Now' }}
        <i class="fa-solid fa-external-link-alt ml-2 transition-transform duration-300 group-hover:scale-110"></i>
      </button>
    </div>


  </section>
  <div class="bg-[#e8dcc8] ">
    <div class="pt-[10px] pb-[10px]   ">
      <div class="border-t border-dashed border-[#c9b79c]"></div>
    </div>


  </div>

  <!-- how it works  -->
  <section>
    <!-- for enterpricess section  -->
    <div class="py-4 px-6 md:px-28">
      <h2 class="text-2xl md:text-4xl md:font-normal font-medium text-center">How it Works</h2>
      <div class="max-w-7xl mx-auto mt-10">
        <!-- Section Badge -->
        <div class="mb-12">
          <div
            class="inline-block w-full border-l-6 border-[#fed591] rounded-xl bg-gradient-to-r from-[#836054] to-transparent text-white px-10 py-3 text-2xl font-semibold">
            For Enterprises
          </div>
        </div>

        <!-- Steps Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
          <app-enterprises-steps-card *ngFor="let step of steps" [stepNumber]="step.number" [title]="step.title"
            [description]="step.description"></app-enterprises-steps-card>
        </div>

        <!-- Section Badge -->
        <div class="mb-12 mt-12">
          <div
            class="inline-block w-full border-l-6 border-[#fed591] rounded-xl bg-gradient-to-r from-[#836054] to-transparent text-white px-10 py-3 text-2xl font-semibold">
            For Employees
          </div>
        </div>

        <!-- Steps Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 place-items-center text-center">
          <app-employees-steps-card *ngFor="let steps of employesteps" [stepNumber]="steps.number" [title]="steps.title"
            [description]="steps.description">
          </app-employees-steps-card>
        </div>
      </div>
    </div>
  </section>

  <section class="relative overflow-hidden bg-gradient-to-br from-[#6b4a3a] to-[#4a2f24] text-white py-6 px-6">
    <!-- Decorative Background Shapes -->
    <!-- <div
    class="absolute top-0 right-0 opacity-10 text-[300px] font-bold leading-none select-none"
  >
    ❋
  </div>
  <div
    class="absolute bottom-0 left-0 opacity-10 text-[300px] font-bold leading-none select-none"
  >
    ❋
  </div> -->

    <div class="max-w-2xl mx-auto text-center relative z-10">

      <div class>

        <!-- Heading -->
        <h2 class="md:text-[37px] text-[23px] mb-2 leading-loose">
          Proven Impact on Employee Wellbeing
        </h2>

        <!-- Subtext -->
        <p class="mx-auto text-md md:text-lg  text-[#ffffff] leading-relaxed mb-16 ">
          Enterprises that prioritize mental health see a profound difference in
          employee morale, productivity, and retention. After just 12 weeks of
          Positivity’s therapy sessions, the transformation is measurable and
          meaningful.
        </p>

      </div>


      <!-- Impact Card -->
      <div
        class="relative max-w-3xl mx-auto border-l-2 border-r-2 border-[#a27b67] rounded-3xl py-16 px-8 text-center transition-all duration-500">
        <!-- Percentage -->
        <div class="text-4xl md:text-6xl text-[#f2c98a] mb-6 transition-all duration-500">
          {{ impacts[currentIndex].percentage }}
        </div>

        <!-- Description -->
        <p class="text-xl md:text-2xl text-[#f3eae5] leading-relaxed transition-all duration-500">
          {{ impacts[currentIndex].text }}
        </p>
      </div>

      <!-- CTA Button -->
      <div class="mt-16">
        <button
          class="px-6 py-2.5 rounded-full border border-white text-white hover:bg-white hover:text-[#4a2f24] transition duration-300">
          CALL US TODAY
        </button>
      </div>
    </div>



  </section>

  <section class="bg-[#ffffff] pt-[25px] px-6 max-w-[1100px] mx-auto">

    <!-- Title + Description -->
    <div class=" text-center">

      <h2
        class="lg:text-[40px]  md:text-[27px] text-[23px] text-[#6b4f45] md:font-medium font-semibold mb-[15px] leading-normal md:leading-tight">
        Why Mental Health is Your Organization’s Greatest Asset?
      </h2>

      <p class=" text-[#363636] text-[16px] leading-tight">
        Focusing on mental health is a win-win for both organizations and employees.
        By investing in mental well-being, enterprises cultivate a thriving workforce,
        enhance operational efficiency, and foster a positive workplace culture.
        Here are the compelling reasons to focus on mental health:
      </p>

    </div>

    <!-- Cards Layout (Grid only) -->
    <div class="max-w-[1100px] mx-auto mt-14 grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-10">

      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>

    </div>

    <!-- Button -->
    <div class="flex justify-center mt-12">
      <button class="border border-[#7b5a4a] px-6 py-2 rounded-full text-[#7b5a4a]">
        View More
      </button>
    </div>

  </section>


  <section class="bg-[#F9F8F8] pt-[25px]  md:px-28 px-6">

    <!-- Title + Description -->
    <div class=" text-center ">

      <h2
        class="text-[30px]  md:text-[40px]  text-[#0a0a0a] md:font-medium font-semibold mb-[15px] leading-normal md:leading-tight">
        Why Choose Positivty?
      </h2>

      <p class="mb-[15px] text-[22px] font-[#363636]">
        Empowering Organizations with Positivty 360° Mental Health Solutions
      </p>

      <p class=" text-[#363636] text-[19px] leading-tight">
        At Positivty, we offer an end-to-end enterprise suite of mental health services designed to address every aspect
        of your workforce's well-being. With innovative, customizable solutions, we ensure your organization fosters a
        supportive and mentally healthy environment.
      </p>

    </div>

    <!-- Cards Layout (Grid only) -->
    <div class="max-w-[1100px] mx-auto mt-14 grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-10">

      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>
      <div class="h-[150px] border border-gray-300 rounded-lg"></div>

    </div>

    <!-- Button -->
    <div class="flex justify-center mt-12">
      <button class="border border-[#7b5a4a] px-6 py-2 rounded-full text-[#7b5a4a]">
        View More
      </button>
    </div>

  </section>

  <section class="bg-[#e9dcc8] py-20 px-6">

    <!-- Cards Container -->
    <div class="max-w-[1100px] mx-auto flex flex-wrap justify-center gap-10">

      <!-- Card 1 -->
      <div
        class="w-[320px] h-[260px] bg-[#efe5d4] border border-[#cbb79f] rounded-[20px] shadow-md flex flex-col items-center justify-center text-center p-8">
        <i class="fa-solid fa-wallet text-[40px] text-[#7a5a45] mb-6"></i>
        <h3 class="text-[20px] text-[#3d2c20]">
          Complete Control <br> Over Spending
        </h3>
      </div>

      <!-- Card 2 -->
      <div
        class="w-[320px] h-[260px] bg-[#efe5d4] border border-[#cbb79f] rounded-[20px] shadow-md flex flex-col items-center justify-center text-center p-8">
        <i class="fa-solid fa-chart-line text-[40px] text-[#7a5a45] mb-6"></i>
        <h3 class="text-[20px] text-[#3d2c20]">
          Comprehensive <br> Reporting & Analytics
        </h3>
      </div>

      <!-- Card 3 -->
      <div
        class="w-[320px] h-[260px] bg-[#efe5d4] border border-[#cbb79f] rounded-[20px] shadow-md flex flex-col items-center justify-center text-center p-8">
        <i class="fa-solid fa-cube text-[40px] text-[#7a5a45] mb-6"></i>
        <h3 class="text-[20px] text-[#3d2c20]">
          Seamless Scalability <br> for Every Organization
        </h3>
      </div>

      <!-- Card 4 -->
      <div
        class="w-[320px] h-[260px] bg-[#efe5d4] border border-[#cbb79f] rounded-[20px] shadow-md flex flex-col items-center justify-center text-center p-8">
        <i class="fa-solid fa-shield-halved text-[40px] text-[#7a5a45] mb-6"></i>
        <h3 class="text-[20px] text-[#3d2c20]">
          Data Security and <br> Privacy
        </h3>
      </div>

      <!-- Card 5 -->
      <div
        class="w-[320px] h-[260px] bg-[#efe5d4] border border-[#cbb79f] rounded-[20px] shadow-md flex flex-col items-center justify-center text-center p-8">
        <i class="fa-solid fa-headset text-[40px] text-[#7a5a45] mb-6"></i>
        <h3 class="text-[20px] text-[#3d2c20]">
          Real-Time Support <br> and Assistance
        </h3>
      </div>

    </div>

  </section>

</ng-container>
