.phone-input-container {
    ::ng-deep .iti {
        width: 100%;

        .iti__selected-flag {
            background-color: transparent !important;
        }

        .iti__selected-dial-code {
            color: #4e342e;
            font-size: 14px;
            font-weight: 500;
            padding-left: 4px;
        }
    }
}