<section
  class="relative overflow-hidden flex items-center bg-[url('https://positivtystaticassets.blob.core.windows.net/images/homepage/banner/banner-1.webp')] background-size-cover bg-no-repeat bg-cover bg-center"
>
  <div class="mx-auto w-full px-6 lg:px-20 md:px-10">
    <div
      class="relative z-10 grid grid-cols-1 lg:grid-cols-12 items-center gap-8 py-16 lg:py-24"
    >
      <!-- LEFT CONTENT -->
      <div class="lg:col-span-7 xl:col-span-6">
        <h1
          class="text-3xl sm:text-4xl lg:text-[38px] font-bold text-black leading-tight"
        >
          Your mental health is <br />
          important. Take care of <br />
          yourself today.
        </h1>

        <!-- underline image -->
        <div class="mt-1">
          <img
            class="h-[18px] w-[240px]"
            src="https://positivty.com/assets/website/assets/images/home-banner/emphisis%201.png"
            alt="underline"
          />
        </div>

        <p class="mt-6 text-black text-sm sm:text-base">
          If you need emergency medical help, Positivty <br />
          is not for you. These resources can be of help.
        </p>

        <div class="mt-8">
          <a href="#talk" class="relative inline-flex items-center group">
            <!-- ICON -->
            <span
              class="absolute -left-3 z-10 rounded-full flex items-center justify-center shadow-md transition-transform duration-300 group-hover:-translate-y-1 group-hover:scale-110"
            >
              <img
                src="https://www.positivty.com/assets/website/assets/images/home-banner/logo%20shape%201%20(1).png"
                alt="icon"
                class="h-6 w-6 object-contain"
              />
            </span>

            <!-- BUTTON -->
            <span
              class="bg-[#8b6a5c] text-white pl-4 pr-4 py-2 rounded-full font-semibold uppercase tracking-wide shadow-md hover:bg-[#75584d] transition"
            >
              Talk to an Expert
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- SIDE LOGO IMAGE -->
  <img
    class="absolute top-0 left-[-25px] h-full w-[170px] object-contain z-20 hidden sm:block"
    src="https://positivty.com/assets/website/assets/images/home-banner/logo%20right_%201.png"
    alt="side logo"
  />
</section>
