<section>
  <div
    class="max-w-6xl mx-auto border-2 border-[#e2a95b] overflow-hidden flex md:h-[200px] h-[150px] bg-gradient-to-b from-[#fffdfb] to-[#fef3e1]"
  >
    <!-- LEFT CONTENT -->
    <div class="p-6 flex flex-col justify-center">
      <h2 class="text-2xl md:text-4xl font-serif text-black mb-3">
        {{ percentage }}
      </h2>

      <p class="text-sm md:text-base text-gray-700 leading-relaxed">
        {{ description }}
      </p>
    </div>

    <!-- RIGHT IMAGE SIDE -->
    <div class="relative bg-[#836054] md:rounded-l-[80px] rounded-l-[50px]">
      <img
        [src]="imageUrl"
        alt="Stats Image"
        class="w-full h-full object-cover md:rounded-l-[80px] rounded-l-[50px] pl-2"
      />
    </div>
  </div>
</section>
