<section>
  <div
    class="max-w-6xl mx-auto border-[1px] border-[#e2a95b] overflow-hidden flex md:h-[200px] h-[150px] bg-gradient-to-b from-[#fffdfb] to-[#fef3e1]"
  >
    <!-- LEFT CONTENT -->
    <div class="px-4 flex flex-col justify-center">
      <h2 class="text-xl md:text-4xl font-serif text-black mb-1">
        {{ percentage }}
      </h2>

      <p class="text-[12px] md:text-base text-gray-700 leading-relaxed">
        {{ description }}
      </p>
    </div>

    <!-- RIGHT IMAGE SIDE -->
    <div class="relative bg-[#836054] rounded-l-[30px] overflow-hidden">
      <img
        [src]="imageUrl"
        alt="Stats Image"
        class="w-[200px] h-full object-cover rounded-l-[30px] pl-2"
      />
    </div>
  </div>
</section>
