/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5e9df;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #7b5a4a;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #5f4336;
}
