<section class="relative w-full h-[480px] mt-8 overflow-hidden">
  <!-- Background Image -->
  <img
  src="https://positivtystaticassets.blob.core.windows.net/images/homepage/enterprise-banner.png"
  class="absolute inset-0 w-full h-full object-cover"
  alt="Enterprise Banner"
/>


  <!-- Optional dark overlay -->
  <!-- <div class="absolute inset-0 bg-black/20"></div> -->

  <!--  Card Wrapper -->
  <div
    class="absolute bottom-20 left-0 rounded-tr-3xl rounded-br-3xl rounded-tl-none rounded-bl-none max-w-xl"
  >
    <div
      class="backdrop-blur-[12px] pt-6 pb-6 pr-6 rounded-tr-3xl rounded-br-3xl rounded-tl-none rounded-bl-none"
    >
      <!-- Content -->
      <div
        class="pl-6 pr-6 py-5 bg-[#7b5a4a]/90 text-white rounded-tr-3xl rounded-br-3xl"
      >
        <h4 class="text-lg md:text-xl mb-2 font-semibold">
          Positivity For Enterprises
        </h4>

        <p class="text-[12px] md:text-sm mb-6 leading-relaxed">
          We offer special services for corporations to improve business
          productivity and create a happy and collaborative business workforce.
          Gift your employees individual counseling and therapy sessions that
          can help enhance their personal and professional lives.
        </p>

        <button
          class="bg-[#ffd89a] text-[#7b5a4a] font-semibold px-7 py-2.5 rounded-full hover:bg-[#ffcf7a] transition text-sm sm:text-base"
        >
          ENQUIRE NOW
        </button>
      </div>
    </div>
  </div>
</section>
