<section class="relative w-full h-[520px] sm:h-[600px] mt-8">
  <!-- Background Image -->
  <img
    src="/assets/doremon.jpg"
    class="absolute inset-0 w-full h-full object-cover"
    alt=""
  />

  <!-- Blur Overlay -->
  <div class="absolute inset-0 bg-black/20 backdrop-blur-[2px]"></div>

  <!-- Content Card -->
  <div
    class="py-3 relative z-10 max-w-xl bg-[#7b5a4a]/90 text-white rounded-3xl px-8 sm:px-14 sm:py-14 -mr-10 sm:mx-10 mt-24"
  >
    <h4 class="text-2xl sm:text-4xl mb-4">
      Positivity For Enterprises
    </h4>

    <p class=" text-sm sm:text-lg mb-8">
      We offer special services for corporations to improve business
      productivity and create a happy and collaborative business workforce. Gift
      your employees individual counseling and therapy sessions that can help
      enhance their personal and professional lives.
    </p>

    <button
      class="bg-[#ffd89a] text-[#7b5a4a] font-semibold px-8 py-3 rounded-full hover:bg-[#ffcf7a] transition"
    >
      ENQUIRE NOW
    </button>
  </div>
</section>
